.footer{
    margin-top: 60px;
}
footer .nav-link{
    color: white;
}
footer .nav-link:hover{
    color: rgb(175, 175, 175);
}
footer img{
    margin-top: 20px;
    margin-bottom: 30px;
}
.space{
    padding: 40px 0 40px;
}
.space1{
    padding: 50px 50px 0 50px;
}
.space2{
    padding: 0 50px 0 50px;
}
a {
    color: white;
}
p{
    text-align: justify;
}
.margin{
    margin-bottom: 50px;
}
@media only screen and (max-width: 1000px) {
    .--ocultar{
        display: none;
    }
    .space{
        padding: 20px 0 20px;
    }
    .space1{
        margin: 40px 0 40px;
        padding: 0 30px 0 30px;
    }
    .space2{
        padding: 0 30px 0 30px;
    }
}
